body {
  margin: 0px;
  padding: 0px;
  font-family: "Titillium Web", sans-serif;
  font-size: 12px;
  overflow: scroll;
}

#navBar {
  height: 10vh;
  width: 100%;
  display: flex;
  background-color: black;
  /* background-color: #e10600; */
  justify-content: space-between;
  align-items: center;

  /* overflow: hidden; */
}

#f1Logo {
  height: 80%;
  width: 40px;
  padding-left: 12px;
}

ul {
  margin: 0px;
  padding: 0px;
  display: flex;
  list-style: none;
  gap: 40px;
  color: white;
  font-size: 12px;
  padding-right: 12px;
  /* text-decoration: none; */
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #e10600;
  text-decoration: none;
}

#homeSection {
  height: 90vh;
  width: 100%;
  display: flex;
  background-color: antiquewhite;
  background-image: url("./images/hamilton-ricciardo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.f1Details {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px;
  color: white;
  text-align: center;
}
